<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository>/.m2/dev/repository</localRepository>
	<servers>
		<server>
			<id>oss.sonatype.org</id>
			<username></username>
			<password></password>
			<passphrase></passphrase>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>RELEASE</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<mvn.server.id>oss.sonatype.org</mvn.server.id>
				<mvn.gpg.passphrase></mvn.gpg.passphrase>
			</properties>
		</profile>
	</profiles>
</settings>